In [1]:
'''

The script aims to prepare a comprehensive dataset that combines article counts, majority race information, and neighborhood 
demographics. This script was run for all 10 years. 

'''

'\n\nThe script aims to prepare a comprehensive dataset that combines article counts, majority race information, and neighborhood \ndemographics. This script was run for all 10 years. \n\n'

In [2]:
# Python librariers required 

import pandas as pd
import requests
import matplotlib.pyplot as plt

In [3]:
# Loading Boston Globe dataset 
bostonGlobe_2010 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/Data/Combined_Datasets_3/2010/updated_bostonGlobe_2010.csv')

In [362]:
# Examining dataframe 
bostonGlobe_2010.head()

,Unnamed: 0,hl1_x,body,llama_prediction,Explicit_Pass_1,NER_Pass_1,NER_Pass_1_Sorted,NER_Pass_1_Coordinates,NER_prediction,NER_Sorted,NER_Sorted_Coordinates,Tracts,position_section,position_subsection,hl1_y,hl2,author,lede,pub_date,indexing_terms,year,actual_body_word_count,body_cleaned,longitude,latitude,tract_2010
0,1,tough time breaking the ice,it unacceptable that women college hockey does...,Based on the information provided in the art...,NaN,"[(the university of minnesota, 'ORG'), (couple...","[(the university of minnesota, 'ORG'), (the tu...",NaN,"[(the University of Minnesota, 'ORG'), (Minnea...","[('the University of Minnesota', 'ORG'), ('the...","[-94.6858998, 46.729553]",['960700'],SPORTS,unknown,tough time breaking the ice,bc has only all-female staff in division 1 hockey,unknown,the boston college women's hockey team takes t...,2016-11-13,"{'subject': [{'score': '90', 'classCode': 'STX...",2016,1002,' unacceptable women ' college hockey ' boast ...,-94.685900,46.729553,960700
1,2,top places new englanders like to go in winter,25 degrees average temperature across new engl...,Based on the information provided in the art...,NaN,"[(25 degrees, 'QUANTITY'), (new england, 'GPE'...","[(the white mountains, 'LOC'), (new england, '...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (2, 'CARDIN...","[('Logan Airport', 'FAC'), ('the Logan Airport...","[-71.0201972, 42.3665992]",['981300'],MAGAZINE,unknown,top places new englanders like to go in winter,our favorite destinations aren't all warm — pl...,By Marisa Dellatto,> $141.17 — average cost of a night in a mass....,2016-11-13,"{'subject': [{'score': '91', 'classCode': 'ST0...",2016,176,25 degrees average temperature across new engl...,-71.020197,42.366599,981300
2,3,home design with art in mind,hill stead pope 33 000 square foot colonial re...,"Based on the article provided, I would guess...",NaN,"[(hill stead, 'GPE'), (33 000 square foot, 'QU...","[(mckim mead and white, 'ORG'), (avon old farm...",NaN,"[(Farmington, 'GPE'), (Connecticut, 'GPE'), (a...","[('Hill Stead Museum', 'FAC'), ('Mountain Road...","[-71.0588801, 42.3600825]",['030302'],SUNDAY,Travel,home design with art in mind,unknown,unknown,the restored sunken garden at hill-stead in fa...,2016-11-13,"{'subject': [{'score': '90', 'classCode': 'N71...",2016,794,"hill- stead , pope ' 33 , 000- square- foot co...",-71.058880,42.360082,30300
3,4,at least the hens won,earlier this year went to visit the country he...,Based on the information provided in the art...,NaN,"[(earlier this year, 'DATE'), (hubbardston, 'G...","[(congress, 'ORG'), (hubbardston, 'GPE'), (rho...",NaN,"[(Boston, 'GPE'), (Massachusetts, 'GPE'), (Bos...","[('Hubbardston', 'GPE'), ('Washington', 'GPE')...","[-72.0061877, 42.4737009]",['706100'],NEWS,Metro,at least the hens won,unknown,unknown,"well, i'm happy for the chickens. since tuesda...",2016-11-13,"{'subject': [{'score': '90', 'classCode': 'ST0...",2016,562,earlier year went visit country hen hubbardsto...,-72.006188,42.473701,706100
4,6,boy video brings autism awareness,it was so important because here is an autisti...,1. Y - The article is talking about a specif...,NaN,"[(11, 'DATE'), (maribel rueda, 'PERSON'), (rue...","[(latin america, 'LOC'), (colombia, 'GPE'), (n...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...",[('The Federation for Children with Special Ne...,"[-71.0719817, 42.3843009]",['040600'],REGIONAL,West,boy video brings autism awareness,2014 clip has lasting effects,unknown,maribel rueda started a facebook group for fam...,2016-11-13,"{'subject': [{'score': '93', 'classCode': 'STX...",2016,771,"important autistic kid ' speak 11 , maribel ru...",-71.071982,42.384301,40600

In [4]:
# To examine full dataset without truncation 
pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None)

In [5]:
# Calculating the number of missing values for tract 
no_tract_found_count = (bostonGlobe_2010['tract_2010'] == 'No Census Tracts found').sum()
no_tract_found_count

0

In [6]:
'''
# Function to clean the tract values
def clean_tract(tract):
    return tract.strip("[]' ")

# Applying the function to the 'Tracts' column
bostonGlobe_2010['Tracts'] = bostonGlobe_2010['Tracts'].apply(clean_tract)

'''

# Removing the 2020 census column tract, "Tracts"
bostonGlobe_2010.drop(columns =['Tracts'], inplace = True)


# Printing the DataFrame to verify
#print(bostonGlobe_2010[['Tracts']].head())

In [7]:
# Renaming "tract_2010" column 
bostonGlobe_2010.rename(columns = {"tract_2010": "Tract"}, inplace = True )

In [8]:
# Loading and examining census 2010 data
census_tract_data = pd.read_csv("census2010.csv")
census_tract_data.head()

,P003001,P003002,P003003,P003004,P003005,P003006,P003007,P003008,P004001,P004002,P004003,NAME,state,county,tract
0,4254,2748,300,6,469,0,513,218,4254,3633,621,"Census Tract 1, Suffolk County, Massachusetts",25,25,100
1,3854,2918,276,8,327,2,209,114,3854,3447,407,"Census Tract 2.01, Suffolk County, Massachusetts",25,25,201
2,3885,2620,330,17,527,1,270,120,3885,3289,596,"Census Tract 2.02, Suffolk County, Massachusetts",25,25,202
3,2740,2150,131,6,298,0,84,71,2740,2550,190,"Census Tract 3.01, Suffolk County, Massachusetts",25,25,301
4,3142,2472,96,2,453,0,56,63,3142,2913,229,"Census Tract 3.02, Suffolk County, Massachusetts",25,25,302

In [9]:
# Standardizing the tract codes in the census-tract-data to 6 digits
census_tract_data['tract'] = census_tract_data['tract'].astype(str).str.zfill(6)

# Standardizing the tract codes in the bostonGlobe_2010 to 6 digits
bostonGlobe_2010['Tract'] = bostonGlobe_2010['Tract'].astype(str).str.zfill(6)

In [10]:
bostonGlobe_2010.head()

,Unnamed: 0,hl1_x,body,llama_prediction,Explicit_Pass_1,NER_Pass_1,NER_Pass_1_Sorted,NER_Pass_1_Coordinates,NER_prediction,NER_Sorted,NER_Sorted_Coordinates,position_section,position_subsection,hl1_y,hl2,author,lede,pub_date,indexing_terms,year,actual_body_word_count,body_cleaned,longitude,latitude,Tract
0,0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010,91,washington food drug administration approved n...,-71.118563,42.362780,000803
1,2,flawed calculus,in 1993 amy bishop and her husband james ander...,Based on the information provided in the art...,NaN,"[(1993, 'DATE'), (amy bishop, 'PERSON'), (jame...","[(children hospital, 'ORG'), (globe, 'ORG'), (...",NaN,"[(Boston, 'GPE'), (Massachusetts, 'GPE'), (Bos...","[('ATF', 'ORG'), ('Childrens Hospital', 'ORG')...","[-71.0588801, 42.3600825]",NEWS,Metro,flawed calculus,unknown,Kevin Cullen,"when it comes to amy bishop, the harvard-train...",2010-02-16,"{'subject': [{'score': '90', 'classCode': 'STX...",2010,555,"1993 , amy bishop husband , james anderson , q...",-71.058880,42.360082,030300
2,3,advantage kids,all these kids are at risk of being involved i...,Here is my assessment of the article's locat...,NaN,"[(williams, 'PERSON'), (tayleece, 'PERSON'), (...","[(the boston foundation, 'ORG'), (muriel s. sn...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (South Bost...","[('the Sportsmen Club', 'FAC'), ('The Sportsme...","[-71.0588801, 42.3600825]",NEWS,Metro,advantage kids,"with tennis, hub police get youths off city's ...",unknown,"in tennis, how you play can matter as much as ...",2010-07-20,"{'subject': [{'score': '90', 'classCode': 'STX...",2010,604,"kids risk involved gang- related activity , sa...",-71.058880,42.360082,030300
3,6,delahunt out field opens,democratic candidates include state senator ro...,Based on the information provided in the art...,NaN,"[(democratic, 'NORP'), (robert a. leary, 'PERS...","[(the state democratic party, 'ORG'), (the qui...",NaN,"[(the 10th Congressional District, 'LOC'), (Ma...","[('the 10th Congressional District', 'LOC'), (...","[-71.3824374, 42.4072107]",NEWS,Metro,delahunt out field opens,republican candidates position themselves for ...,unknown,quincy - us representative william d. delahunt...,2010-03-06,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010,811,democratic candidates include state senator ro...,-71.382437,42.407211,365100
4,7,wakefield boy dies after falling in pond,wakefield police responded about 11 30 a.m. to...,Based on the information provided in the art...,NaN,"[(wakefield, 'GPE'), (about 11 30 a.m., 'TIME'...","[(melrose wakefield hospital, 'ORG'), (wakefie...",NaN,"[(Wakefield, 'GPE'), (Massachusetts, 'GPE'), (...","[('Lake Street', 'FAC'), ('Lake Street', 'FAC'...","[-71.1636923, 42.3447035]",NEWS,Metro,wakefield boy dies after falling in pond,wandered away as mother did chores,unknown,a 2-year-old boy drowned in a man-made pond in...,2010-04-27,"{'subject': [{'score': '90', 'classCode': 'STX...",2010,178,wakefield police responded 11 : 30 a. m. home ...,-71.163692,42.344704,000402

In [11]:
# Merging the two datasets based on the standardized tract codes
merged_data = pd.merge(bostonGlobe_2010,census_tract_data, left_on='Tract', right_on='tract', how='outer')

In [12]:
# Displaying the summary of the merged dataset 
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3001 entries, 0 to 3000
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2933 non-null   float64
 1   hl1_x                   2931 non-null   object
 2   body                    2933 non-null   object
 3   llama_prediction        2933 non-null   object
 4   Explicit_Pass_1         0 non-null      float64
 5   NER_Pass_1              2933 non-null   object
 6   NER_Pass_1_Sorted       2933 non-null   object
 7   NER_Pass_1_Coordinates  0 non-null      float64
 8   NER_prediction          2933 non-null   object
 9   NER_Sorted              2933 non-null   object
 10  NER_Sorted_Coordinates  2933 non-null   object
 11  position_section        2933 non-null   object
 12  position_subsection     2933 non-null   object
 13  hl1_y                   2931 non-null   object
 14  hl2                     2933 non-null   object
 15  author                  2933 non-null   object
 16  lede                    2933 non-null   object
 17  pub_date                2933 non-null   object
 18  indexing_terms          2933 non-null   object
 19  year                    2933 non-null   float64
 20  actual_body_word_count  2933 non-null   float64
 21  body_cleaned            2933 non-null   object
 22  longitude               2933 non-null   float64
 23  latitude                2933 non-null   float64
 24  Tract                   2933 non-null   object
 25  P003001                 2537 non-null   float64
 26  P003002                 2537 non-null   float64
 27  P003003                 2537 non-null   float64
 28  P003004                 2537 non-null   float64
 29  P003005                 2537 non-null   float64
 30  P003006                 2537 non-null   float64
 31  P003007                 2537 non-null   float64
 32  P003008                 2537 non-null   float64
 33  P004001                 2537 non-null   float64
 34  P004002                 2537 non-null   float64
 35  P004003                 2537 non-null   float64
 36  NAME                    2537 non-null   object
 37  state                   2537 non-null   float64
 38  county                  2537 non-null   float64
 39  tract                   2537 non-null   object
dtypes: float64(20), object(20)
memory usage: 961.3+ KB

In [13]:
# Displaying first five rows of dataframe to inspect 
merged_data.head()

,Unnamed: 0,hl1_x,body,llama_prediction,Explicit_Pass_1,NER_Pass_1,NER_Pass_1_Sorted,NER_Pass_1_Coordinates,NER_prediction,NER_Sorted,NER_Sorted_Coordinates,position_section,position_subsection,hl1_y,hl2,author,lede,pub_date,indexing_terms,year,actual_body_word_count,body_cleaned,longitude,latitude,Tract,P003001,P003002,P003003,P003004,P003005,P003006,P003007,P003008,P004001,P004002,P004003,NAME,state,county,tract
0,0.0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010.0,91.0,washington food drug administration approved n...,-71.118563,42.362780,000803,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,"Census Tract 8.03, Suffolk County, Massachusetts",25.0,25.0,000803
1,194.0,taking her own advice,while mckelle harbored big time ambitions her ...,"Based on the article, I would guess that the...",NaN,"[(mckelle, 'PERSON'), (berklee, 'ORG'), (mckel...","[(berklee, 'ORG'), (scullers, 'ORG'), (berklee...",NaN,"[(Boston, 'GPE'), (Massachusetts, 'GPE'), (1, ...","[('Scullers Jazz Club', 'FAC'), ('Scullers', '...","[-71.1181162, 42.360262]",G,Living Arts,taking her own advice,"once a teacher at berklee, jazz singer robin m...",unknown,robin mckelle learned a lot from her voice stu...,2010-05-14,{'legal': [{'className': 'Business & Corporate...,2010.0,714.0,"mckelle harbored big- time ambitions , numerou...",-71.118116,42.360262,000803,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,"Census Tract 8.03, Suffolk County, Massachusetts",25.0,25.0,000803
2,255.0,terriers are triple threats vs. albany,as result shooting percentages tend to suffer ...,1. Y - The article is talking about a specif...,NaN,"[(last night, 'TIME'), (albany, 'GPE'), (16, '...","[(bu, 'ORG'), (agganis, 'ORG'), (albany, 'ORG'...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (the Aggani...","[('the Agganis Arena', 'FAC'), ('Agganis Arena...","[-71.1177052, 42.3521974]",SPORTS,unknown,terriers are triple threats vs. albany,unknown,unknown,bu79albany58 the boston university basketball ...,2010-01-20,"{'legal': [{'className': 'Education Law', 'cla...",2010.0,466.0,"result , shooting percentages tend suffer terr...",-71.117705,42.352197,000803,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,"Census Tract 8.03, Suffolk County, Massachusetts",25.0,25.0,000803
3,355.0,10 are hurt as van overturns on mass. pike,marie eveillard 53 of brockton was taken by me...,Based on the information provided in the art...,NaN,"[(marie eveillard, 'PERSON'), (53, 'DATE'), (b...","[(umass memorial medical center, 'ORG'), (umas...",NaN,"[(Worcester, 'GPE'), (11, 'CARDINAL'), (the Ma...","[('the Mass Pike', 'FAC'), ('the Mass Pike', '...","[-71.1193016, 42.3564439]",NEWS,Metro,10 are hurt as van overturns on mass. pike,unknown,unknown,"ten people were injured, two seriously, after ...",2010-04-24,"{'legal': [{'className': 'Transportation Law',...",2010.0,288.0,"marie eveillard , 53 , brockton , taken medfli...",-71.119302,42.356444,000803,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,"Census Tract 8.03, Suffolk County, Massachusetts",25.0,25.0,000803
4,372.0,sanofi presses genzymeover takeover bid,in letter released yesterday sanofi aventis re...,Here is my response based on the information...,NaN,"[(yesterday, 'DATE'), (sanofi aventis, 'ORG'),...","[(sanofi aventis, 'ORG'), (sanofi, 'ORG'), (ge...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Sanofi Aventis', ...","[-71.1185629, 42.3627796]",BUSINESS,unknown,sanofi presses genzymeover takeover bid,says shareholders kept out of process,unknown,washington - french drug maker sanofi aventis ...,2010-11-09,"{'subject': [{'score': '91', 'classCode': 'STX...",2010.0,277.0,"letter released yesterday , sanofi aventis rei...",-71.118563,42.362780,000803,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,"Census Tract 8.03, Suffolk County, Massachusetts",25.0,25.0,000803

In [14]:
# List of unique tract codes in the dataset. 
merged_data.tract.unique()

array(['000803', '030300', nan, '000402', '060600', '030200', '010600',
       '010203', '981800', '020302', '071101', '070101', '010404',
       '010702', '091800', '070300', '020303', '010204', '980101',
       '120105', '000802', '090901', '060800', '981501', '981100',
       '051200', '100500', '130200', '010300', '160200', '020301',
       '061200', '010103', '000502', '120301', '040300', '081700',
       '110301', '070900', '010405', '050901', '050101', '070402',
       '981700', '040600', '070500', '010701', '981300', '040200',
       '010104', '071201', '101001', '051000', '060700', '082000',
       '050700', '120201', '050300', '030400', '140202', '000100',
       '081001', '070200', '101002', '000704', '080601', '081200',
       '110601', '981202', '092400', '070700', '080300', '110103',
       '980300', '091200', '120500', '130402', '070800', '091600',
       '080100', '081300', '110403', '080401', '100800', '010500',
       '101102', '092101', '120400', '110502', '010802', '020101',
       '040801', '000602', '100200', '081400', '081100', '990101',
       '090700', '060501', '092000', '100603', '981000', '140300',
       '100400', '090300', '140102', '130100', '090100', '120700',
       '110401', '091100', '981502', '170601', '091400', '091900',
       '091500', '092200', '170502', '110607', '981201', '060400',
       '160400', '090200', '130404', '020200', '030100', '120103',
       '000601', '040401', '050600', '100900', '000302', '061101',
       '110501', '040100', '000301', '091001', '000201', '000202',
       '000401', '000503', '000504', '000701', '000703', '010403',
       '010408', '010801', '030500', '050200', '050400', '050500',
       '051101', '060101', '060200', '060301', '061000', '070600',
       '080500', '080801', '080900', '081500', '081800', '081900',
       '082100', '090400', '090600', '091300', '091700', '092300',
       '100100', '100300', '100601', '100700', '101101', '110201',
       '120104', '120600', '130300', '130406', '140105', '140106',
       '140107', '140201', '140400', '160101', '160300', '160501',
       '160502', '160601', '160602', '170100', '170200', '170300',
       '170400', '170501', '170701', '170702', '170800', '180101',
       '180200', '180301', '180400', '180500', '980700', '981600'],
      dtype=object)

In [15]:
# Renaming columns in the dataframe for better readability.
merged_data.rename(columns={"P003001": "T_Total", 
                            "P003002": "T_White alone",
                            "P003003": "T_Black or African American alone", 
                            "P003004": "T_American Indian and Alaska Native alone", 
                            "P003005": "T_Asian alone", 
                            "P003006": "T_Native Hawaiian and Other Pacific Islander alone", 
                            "P003007": "T_Some Other Race alone", 
                            "P003008": "T_Population of two or more races", 
                            "P004001": "T_Total Hispanic or Latino origin",
                            "P004002": "T_Not Hispanic or Latino",
                            "P004003": "T_Hispanic or Latino"}, inplace=True)

In [16]:
# new dataframe with article title, tract number and demogrpahic
df = merged_data[['year','hl1_x','tract', 'T_White alone',
                  'T_Black or African American alone',
                  'T_Hispanic or Latino', 
                  'T_Asian alone', 
                  'T_American Indian and Alaska Native alone', 
                  'T_Native Hawaiian and Other Pacific Islander alone', 
                  'T_Some Other Race alone', 
                  'T_Population of two or more races']].copy()

In [17]:
# Displaying first five rows of dataframe to inspect 
df.head()

,year,hl1_x,tract,T_White alone,T_Black or African American alone,T_Hispanic or Latino,T_Asian alone,T_American Indian and Alaska Native alone,T_Native Hawaiian and Other Pacific Islander alone,T_Some Other Race alone,T_Population of two or more races
0,2010.0,cerezyme alternative gets fda approval,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0
1,2010.0,taking her own advice,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0
2,2010.0,terriers are triple threats vs. albany,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0
3,2010.0,10 are hurt as van overturns on mass. pike,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0
4,2010.0,sanofi presses genzymeover takeover bid,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0

In [18]:
# Counting occurrences of each tract and maping these counts to a new 'Article_Count' column.
tract_counts = df['tract'].value_counts()
df['Article_Count'] = df['tract'].map(tract_counts)

In [19]:
# Dataframe with tract code and article count
count_df = df[['year','tract', 'Article_Count']].copy()

In [25]:
# Droping duplicates 
count_df = count_df.drop_duplicates(subset=['tract'])

In [27]:
# Droping missing values 
count_df = count_df.dropna(subset=['tract'])

In [28]:
count_df.head()

        year   tract  Article_Count
0     2010.0  000803           35.0
35    2010.0  030300         1279.0
1359  2010.0  000402            2.0
1361  2010.0  060600           27.0
1388  2010.0  030200           11.0

In [29]:
# Converting dataframe to csv file for article count and tract 
# ---> above steps were conducted for all years and merged together and used to visualize article density for each tract over the years.

count_df.to_csv('count_2010.csv', index=False)

In [30]:
# Dataframe with tract number and demographic stats for each tract 
tract_race_df = df[['tract', 'T_White alone',
                  'T_Black or African American alone',
                  'T_Hispanic or Latino', 
                  'T_Asian alone', 
                  'T_American Indian and Alaska Native alone', 
                  'T_Native Hawaiian and Other Pacific Islander alone', 
                  'T_Some Other Race alone', 
                  'T_Population of two or more races']].copy()

In [31]:
# removing duplicates 
tract_race_df.drop_duplicates(inplace=True)
tract_race_df.head()

,tract,T_White alone,T_Black or African American alone,T_Hispanic or Latino,T_Asian alone,T_American Indian and Alaska Native alone,T_Native Hawaiian and Other Pacific Islander alone,T_Some Other Race alone,T_Population of two or more races
0,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0
35,030300,4141.0,265.0,239.0,286.0,14.0,1.0,74.0,91.0
1314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1359,000402,2863.0,72.0,189.0,544.0,0.0,2.0,73.0,94.0
1361,060600,2110.0,33.0,92.0,150.0,7.0,1.0,17.0,39.0

In [32]:
tract_race_df.dropna(how='all', inplace=True)

In [33]:
max_race_df = pd.DataFrame(tract_race_df)

# Converting all columns to numeric
max_race_df.set_index("tract", inplace=True)
new_df_numeric = max_race_df.apply(pd.to_numeric, errors='coerce')

# Identifying the highest race for each tract and adding a new column
max_race_df["T_majority_race"] = new_df_numeric.idxmax(axis=1)

# Displaying the updated dataframe
max_race_df.reset_index(inplace=True)
max_race_df.head()

,tract,T_White alone,T_Black or African American alone,T_Hispanic or Latino,T_Asian alone,T_American Indian and Alaska Native alone,T_Native Hawaiian and Other Pacific Islander alone,T_Some Other Race alone,T_Population of two or more races,T_majority_race
0,000803,4333.0,405.0,576.0,1415.0,10.0,1.0,133.0,287.0,T_White alone
1,030300,4141.0,265.0,239.0,286.0,14.0,1.0,74.0,91.0,T_White alone
2,000402,2863.0,72.0,189.0,544.0,0.0,2.0,73.0,94.0,T_White alone
3,060600,2110.0,33.0,92.0,150.0,7.0,1.0,17.0,39.0,T_White alone
4,030200,1580.0,8.0,69.0,37.0,7.0,1.0,10.0,22.0,T_White alone

In [34]:
# Dataframe with number of articles and majority race for each tract 
df = pd.merge(count_df, max_race_df[['tract', 'T_majority_race']], on='tract')

# Displaying the updated DataFrame
df.head()

     year   tract  Article_Count T_majority_race
0  2010.0  000803           35.0   T_White alone
1  2010.0  030300         1279.0   T_White alone
2  2010.0  000402            2.0   T_White alone
3  2010.0  060600           27.0   T_White alone
4  2010.0  030200           11.0   T_White alone

In [35]:
# Grouping the data by 'majority_race' and summing up the 'Article_Count'
article_counts_by_race = df.groupby('T_majority_race')['Article_Count'].sum()

# Converting the result to a dataframe 
article_counts_df = article_counts_by_race.reset_index()

# Renaming columns for better readability
article_counts_df.columns = ['T_Majority Race', 'Article Count']

# Printing the result
print("Number of articles per race:")
print(article_counts_df.to_string(index=False))

Number of articles per race:
                  T_Majority Race  Article Count
                    T_Asian alone           22.0
T_Black or African American alone          122.0
             T_Hispanic or Latino           17.0
                    T_White alone         2376.0

In [36]:
# droping columns not needed 
merged_data.drop(columns=['NAME', 'state', 'county'], inplace=True)

In [37]:
# Select specific columns from df2 to merge into df1
columns_to_merge = ['tract', 'Article_Count', 'T_majority_race']
final_df = merged_data.merge(df[columns_to_merge], on='tract', how='left')

In [44]:
# Saving cleaned dataframe to a new CSV file
final_df.to_csv('race_2010.csv', index=False)

In [39]:
# Loading neigborhood dataset 
neigborhood_2010 = pd.read_csv('/Users/rachelgupta/Desktop/NAACP - PIT NE/pitne-bias-in-media/summer24/notebooks/Cindy/2010complete.csv')

In [40]:
neigborhood_2010.head()

,Unnamed: 0,hl1_x,body,llama_prediction,Explicit_Pass_1,NER_Pass_1,NER_Pass_1_Sorted,NER_Pass_1_Coordinates,NER_prediction,NER_Sorted,NER_Sorted_Coordinates,Tracts,position_section,position_subsection,hl1_y,hl2,author,lede,pub_date,indexing_terms,year,actual_body_word_count,body_cleaned,longitude,latitude,tract_2010,Calculated_Tract,name,Neighborhood,White alone,Black or African American alone,Hispanic or Latino,"Asian, Native Hawaiian and Pacific Islander",Other Races or Multiple Races,majority_race
0,0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",000806,BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010,91,washington food drug administration approved n...,-71.118563,42.362780,803,803.0,Allston,Allston,12536,1326,3259,6271,1512,White alone
1,109,no arena required,it full tilt arena rock that coming out of clu...,Based on the information provided in the art...,NaN,"[(rishava green, 'PERSON'), (new year eve, 'EV...","[(mad oak studios, 'ORG'), (dodge, 'ORG'), (th...",NaN,"[(Boston, 'GPE'), (Massachusetts, 'GPE'), (1, ...","[('Mad Oak Studios', 'FAC'), ('the Church of B...","[-71.1331885, 42.3551006]",000805,G,Living Arts,no arena required,the lights out goes full-tilt on `primetime',unknown,it takes a grand total of two seconds to situa...,2010-12-24,"{'legal': [{'className': 'Evidence', 'classCod...",2010,783,' full- tilt arena rock ' coming club- size sp...,-71.133189,42.355101,802,802.0,Allston,Allston,12536,1326,3259,6271,1512,White alone
2,194,taking her own advice,while mckelle harbored big time ambitions her ...,"Based on the article, I would guess that the...",NaN,"[(mckelle, 'PERSON'), (berklee, 'ORG'), (mckel...","[(berklee, 'ORG'), (scullers, 'ORG'), (berklee...",NaN,"[(Boston, 'GPE'), (Massachusetts, 'GPE'), (1, ...","[('Scullers Jazz Club', 'FAC'), ('Scullers', '...","[-71.1181162, 42.360262]",No TRACT found,G,Living Arts,taking her own advice,"once a teacher at berklee, jazz singer robin m...",unknown,robin mckelle learned a lot from her voice stu...,2010-05-14,{'legal': [{'className': 'Business & Corporate...,2010,714,"mckelle harbored big- time ambitions , numerou...",-71.118116,42.360262,803,803.0,Allston,Allston,12536,1326,3259,6271,1512,White alone
3,255,terriers are triple threats vs. albany,as result shooting percentages tend to suffer ...,1. Y - The article is talking about a specif...,NaN,"[(last night, 'TIME'), (albany, 'GPE'), (16, '...","[(bu, 'ORG'), (agganis, 'ORG'), (albany, 'ORG'...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (the Aggani...","[('the Agganis Arena', 'FAC'), ('Agganis Arena...","[-71.1177052, 42.3521974]",000807,SPORTS,unknown,terriers are triple threats vs. albany,unknown,unknown,bu79albany58 the boston university basketball ...,2010-01-20,"{'legal': [{'className': 'Education Law', 'cla...",2010,466,"result , shooting percentages tend suffer terr...",-71.117705,42.352197,803,803.0,Allston,Allston,12536,1326,3259,6271,1512,White alone
4,355,10 are hurt as van overturns on mass. pike,marie eveillard 53 of brockton was taken by me...,Based on the information provided in the art...,NaN,"[(marie eveillard, 'PERSON'), (53, 'DATE'), (b...","[(umass memorial medical center, 'ORG'), (umas...",NaN,"[(Worcester, 'GPE'), (11, 'CARDINAL'), (the Ma...","[('the Mass Pike', 'FAC'), ('the Mass Pike', '...","[-71.1193016, 42.3564439]",000806,NEWS,Metro,10 are hurt as van overturns on mass. pike,unknown,unknown,"ten people were injured, two seriously, after ...",2010-04-24,"{'legal': [{'className': 'Transportation Law',...",2010,288,"marie eveillard , 53 , brockton , taken medfli...",-71.119302,42.356444,803,803.0,Allston,Allston,12536,1326,3259,6271,1512,White alone

In [41]:
# Convert the 'tract_2010' column to numeric, handling errors
final_df['Tract'] = pd.to_numeric(final_df['Tract'], errors='coerce')

In [2]:
# Standardizing the tract codes in the bostonGlobe_2010 to 6 digits
#bostonGlobe_2010['Calculated_Tract'] = bostonGlobe_2010['Calculated_Tract'].astype(str).str.zfill(6)

In [45]:
bostonGlobe_2010.head()

,Unnamed: 0,hl1_x,body,llama_prediction,Explicit_Pass_1,NER_Pass_1,NER_Pass_1_Sorted,NER_Pass_1_Coordinates,NER_prediction,NER_Sorted,NER_Sorted_Coordinates,position_section,position_subsection,hl1_y,hl2,author,lede,pub_date,indexing_terms,year,actual_body_word_count,body_cleaned,longitude,latitude,Tract
0,0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010,91,washington food drug administration approved n...,-71.118563,42.362780,000803
1,2,flawed calculus,in 1993 amy bishop and her husband james ander...,Based on the information provided in the art...,NaN,"[(1993, 'DATE'), (amy bishop, 'PERSON'), (jame...","[(children hospital, 'ORG'), (globe, 'ORG'), (...",NaN,"[(Boston, 'GPE'), (Massachusetts, 'GPE'), (Bos...","[('ATF', 'ORG'), ('Childrens Hospital', 'ORG')...","[-71.0588801, 42.3600825]",NEWS,Metro,flawed calculus,unknown,Kevin Cullen,"when it comes to amy bishop, the harvard-train...",2010-02-16,"{'subject': [{'score': '90', 'classCode': 'STX...",2010,555,"1993 , amy bishop husband , james anderson , q...",-71.058880,42.360082,030300
2,3,advantage kids,all these kids are at risk of being involved i...,Here is my assessment of the article's locat...,NaN,"[(williams, 'PERSON'), (tayleece, 'PERSON'), (...","[(the boston foundation, 'ORG'), (muriel s. sn...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (South Bost...","[('the Sportsmen Club', 'FAC'), ('The Sportsme...","[-71.0588801, 42.3600825]",NEWS,Metro,advantage kids,"with tennis, hub police get youths off city's ...",unknown,"in tennis, how you play can matter as much as ...",2010-07-20,"{'subject': [{'score': '90', 'classCode': 'STX...",2010,604,"kids risk involved gang- related activity , sa...",-71.058880,42.360082,030300
3,6,delahunt out field opens,democratic candidates include state senator ro...,Based on the information provided in the art...,NaN,"[(democratic, 'NORP'), (robert a. leary, 'PERS...","[(the state democratic party, 'ORG'), (the qui...",NaN,"[(the 10th Congressional District, 'LOC'), (Ma...","[('the 10th Congressional District', 'LOC'), (...","[-71.3824374, 42.4072107]",NEWS,Metro,delahunt out field opens,republican candidates position themselves for ...,unknown,quincy - us representative william d. delahunt...,2010-03-06,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010,811,democratic candidates include state senator ro...,-71.382437,42.407211,365100
4,7,wakefield boy dies after falling in pond,wakefield police responded about 11 30 a.m. to...,Based on the information provided in the art...,NaN,"[(wakefield, 'GPE'), (about 11 30 a.m., 'TIME'...","[(melrose wakefield hospital, 'ORG'), (wakefie...",NaN,"[(Wakefield, 'GPE'), (Massachusetts, 'GPE'), (...","[('Lake Street', 'FAC'), ('Lake Street', 'FAC'...","[-71.1636923, 42.3447035]",NEWS,Metro,wakefield boy dies after falling in pond,wandered away as mother did chores,unknown,a 2-year-old boy drowned in a man-made pond in...,2010-04-27,"{'subject': [{'score': '90', 'classCode': 'STX...",2010,178,wakefield police responded 11 : 30 a. m. home ...,-71.163692,42.344704,000402

In [46]:
# merging neigborhood and tract datasets for 2010 
columns_to_merge = ['Calculated_Tract', 'Neighborhood', 'White alone', 'Black or African American alone',
                    'Hispanic or Latino', 'Asian, Native Hawaiian and Pacific Islander',
                    'Other Races or Multiple Races', 'majority_race']

# Merging datasets
final_merged_df = final_df.merge(neigborhood_2010[columns_to_merge], left_on='Tract', right_on='Calculated_Tract', how='left')

In [47]:
final_merged_df.head()

,Unnamed: 0,hl1_x,body,llama_prediction,Explicit_Pass_1,NER_Pass_1,NER_Pass_1_Sorted,NER_Pass_1_Coordinates,NER_prediction,NER_Sorted,NER_Sorted_Coordinates,position_section,position_subsection,hl1_y,hl2,author,lede,pub_date,indexing_terms,year,actual_body_word_count,body_cleaned,longitude,latitude,Tract,T_Total,T_White alone,T_Black or African American alone,T_American Indian and Alaska Native alone,T_Asian alone,T_Native Hawaiian and Other Pacific Islander alone,T_Some Other Race alone,T_Population of two or more races,T_Total Hispanic or Latino origin,T_Not Hispanic or Latino,T_Hispanic or Latino,tract,Article_Count,T_majority_race,Calculated_Tract,Neighborhood,White alone,Black or African American alone,Hispanic or Latino,"Asian, Native Hawaiian and Pacific Islander",Other Races or Multiple Races,majority_race
0,0.0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010.0,91.0,washington food drug administration approved n...,-71.118563,42.36278,803.0,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,000803,35.0,T_White alone,803.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone
1,0.0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010.0,91.0,washington food drug administration approved n...,-71.118563,42.36278,803.0,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,000803,35.0,T_White alone,803.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone
2,0.0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010.0,91.0,washington food drug administration approved n...,-71.118563,42.36278,803.0,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,000803,35.0,T_White alone,803.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone
3,0.0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010.0,91.0,washington food drug administration approved n...,-71.118563,42.36278,803.0,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,000803,35.0,T_White alone,803.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone
4,0.0,cerezyme alternative gets fda approval,washington the food and drug administration ha...,Here is my response based on the information...,NaN,"[(washington, 'GPE'), (less than one, 'CARDINA...","[(washington, 'GPE'), (the united states, 'GPE...",NaN,"[(1, 'CARDINAL'), (Boston, 'GPE'), (Massachuse...","[('Genzyme Corp.', 'ORG'), ('Genzyme Corp.', '...","[-71.1185629, 42.3627796]",BUSINESS,unknown,cerezyme alternative gets fda approval,unknown,Associated Press,washington - the food and drug administration ...,2010-02-27,"{'subject': [{'score': '91', 'classCode': 'ST0...",2010.0,91.0,washington food drug administration approved n...,-71.118563,42.36278,803.0,6584.0,4333.0,405.0,10.0,1415.0,1.0,133.0,287.0,6584.0,6008.0,576.0,000803,35.0,T_White alone,803.0,Allston,12536.0,1326.0,3259.0,6271.0,1512.0,White alone

In [48]:
# Droping duplicates 
final_merged_df = final_merged_df.drop_duplicates(subset=['Unnamed: 0'])

In [106]:
final_merged_df.shape

(2612, 47)

In [49]:
# Find rows where T_total is NaN
rows_with_na = final_merged_df[final_merged_df['T_Total'].isna()]

In [50]:
# Select only the neighborhood column
neighborhoods_with_na = rows_with_na[['Tract']]

In [51]:
neighborhoods_with_na.head()

            Tract
1637066  365100.0
1637067  365100.0
1637068  365100.0
1637069  365100.0
1637070  365100.0

In [52]:
# Remove rows where T_total is NaN
final_merged_df = final_merged_df.dropna(subset=['T_Total'])

In [53]:
# Final dataset with neighborhood and demographic data merged
final_merged_df.to_csv('2010_final.csv', index=False)